@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700,400);
@import url(http://fonts.googleapis.com/css?family=Roboto:500,300,700,400);

html, body {
	height: 100%;
	position: relative;
}
.landing-page {
	min-height: 830px;
}

h1, h2, h3, h4, h5, p {
	font-family: 'Roboto', sans-serif;
}
p {
	line-height: 1.5;
	font-weight: 100;
}

$white:   white;
$grey:    #E8E7EC;
$darkGrey: #333;
$purple:  #271448;

// Turn this into a mixin later
.logo-wrapper {
	font-family: 'Roboto Slab', serif;
	text-transform: uppercase;
	padding: .5em 1em;
	transition: background-color 300ms ease-out;
}

.layout-row {
	padding: 3em 0;
}

.button {
	font-family: 'Roboto', sans-serif;
	padding: .7em 2em;
	margin: 0;

	&.white {
		background: transparent;
		border: 3px solid $white;
		color: $white;

		&:hover, &:active {
			background: $white;
			color: $purple;
		}
		&.sign-up-button {
			border-left: 0;
			border-top: 1px solid $white;
			border-right: 1px solid $white;
			border-bottom: 1px solid $white;
		}
	}
	&.grey {
		background: transparent;
		border: 3px solid $darkGrey;
		color: $darkGrey;

		&:hover, &:active {
			background: $white;
			color: $purple;
		}
		&.sign-up-button {
			border-left: 0;
			border-top: 1px solid $darkGrey;
			border-right: 1px solid $darkGrey;
			border-bottom: 1px solid $darkGrey;
		}
	}
}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
	margin: 0;

	&.white {
		color: $white;
		background: transparent;
	}
	&.grey {
		color: $darkGrey;
		background: transparent;
		border: 1px solid $darkGrey;
	}
}

.reveal-modal-bg {
	position: fixed;
}
.reveal-modal {
	// To force it to be 100% wide for mobile
	width: 100%;

	&.article {
		padding: 0;
		border: none;
		border-radius: 0;

		.image-wrapper {
			position: relative;
			height: 10rem;
			overflow: hidden;

			@media (min-width: 500px) {
				height: 15rem;
			}
			.title {
				position: absolute;
				z-index: 3;
				bottom: 1rem;
				left: 1.5rem;
				right: 1.5rem;
				line-height: 1.1;
				color: $white;
				text-shadow: 1px 1px 1px rgba(50,50,50,.35);
			}
			.overlay {
				overflow: hidden;
				position: absolute;
				z-index: 2;
				height: 100%;
				width: 100%;
				background: rgba(0,0,0,.5);
			}
			img {
				position: absolute;
				z-index: 1;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0%;

				@media #{$medium-up} {
					top: -30%;
					width: 100%;
					height: auto;
				}
			}
		}

		.text {
			width: 100%;
			padding: 1rem 1.5rem;

			.author {
				margin: 0;
				font-weight: bold;
			}
			.date {
				margin: 0;
				padding-bottom: 1em;
				border-bottom: 2px solid $purple;
			}
			.leading-content {
				margin-top: 0;
				padding-top: 1em;
			}
			.content-image {
				clear: both;
				width: 100%;
				padding-bottom: 1.5em;

				@media #{$medium-up} {
					width: 50%;
					padding-bottom: 0;
				}

				&.right {
					@media #{$medium-up} {
						padding-left: 3em;
					}
				}
				&.left {
					@media #{$medium-up} {
						padding-right: 3em;
					}
				}
			}

		}
	}
}
.reveal-modal .close-reveal-modal, dialog .close-reveal-modal {
	z-index: 100;

	&:hover, &:active {
		color: $white;
	}
}

.plus-button {
	@include flexbox-display-flex();
	min-height: 100%;
	height: 100%;
	
	.fa-plus-circle {
		margin: auto;
		font-size: 3em;
		color: $grey;
	}
}

.panel {
	padding: 0;
	border: none;

	@include box-shadow(1px, 2px, 3px, rgba(50,50,50,.35));
}