.wrapper {
	max-width: 1280px;
	display: block; 
	background: white; 
	margin: 0 auto; 
	padding: 0; 
	width: 100%;

	.desktop {
		display: none;
	}
	.mobile {
		display: block;
	}

	@media #{$medium-up} { 
		.desktop {
			display: block;
		}
		.mobile {
			display: none;
		}
	}
}
