.hero-wrapper {
	background: url('../images/hero-bg.jpg');
	background-size: cover;
	background-position: top right;
	min-height: 100%;
	height: 100%;

	.logo-wrapper {
		color: $white;
		border: 3px solid $white;
		font-size: 1em;

		@include box-shadow(1px, 2px, 3px, rgba(50,50,50,.35));

		&:hover, &:active {
			border-color: $purple;
			background: $purple;
		}
	}

	.text-content {
		margin-top: 3em;
	}
	
	.button {
		margin-top: 1em;
	}

	h1 {
		color: $white;
		margin: 1em 0 0;
		font-size: 2.5em;
		line-height: 1.1;
		font-weight: bold;
		text-shadow: 1px 1px 1px rgba(50,50,50,.35);
	}
}

.footer-wrapper {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: rgba(50,50,50,.9); 
	color: $white;

	.layout-row {
		padding: 2em 0;
	}

	h3 {
		color: $white;
		margin: 0;
		padding-bottom: 1em;
		border-bottom: 2px solid $white;
	}

	.layout-inner-row {
		padding-top: 1.5em;

		.inline {
			display: inline-block;
			vertical-align: bottom;
		}
		.sign-up {
			width: 40%;
			padding-left: 1.5em;
		}
		.text {
			width: 60%;
			padding-right: 1.5em;
		}
		
		h2 {
			color: $white;
			font-size: 2em;
			margin-top: 0;
			margin-bottom: .5em;
			line-height: 1.3;
		}
	}
}

.showcase-wrapper {
	background: $grey;

	.text-content {}

	h2 {
		margin-top: 0;
		color: $purple;
	}
	
	.media-object-wrapper {
		margin: 1em 0;
	}
	.media-object-panel {
		&.inline {
			padding: 0;
			display: inline-block;
			vertical-align: top;
			width: 19%;
			margin: 0 .625%;
			
			a {
				display: block;
				opacity: .7;

				&:hover {
					opacity: 1;

					.fa-plus-circle {
						color: $purple;
					}
				}
			}

			.panel {
				padding: 0;
				margin: 0;
				border: none;
				background: $white;
			}
			&:first-child {
			margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
		&.quote {
			padding: 0;

			.panel {
				margin: 0;
				background: $white;
				border: none;
			}
		}

		p, h3 {
			margin: 0;
		}

		.image {
			height: 230px;

			&.steven-mazur {
				background: url('../images/showcase/steven-mazur.jpg');
				background-position: center top;
				background-size: cover;
			}
			&.zach-olson {
				background: url('../images/showcase/zach-olson.jpg');
				background-position: center top;
				background-size: cover;
			}
		}
		.text {
			padding: .5em 1em;
		}
	}
}