.title-wrapper {
	background: $darkGrey;
	color: $white;
	text-align: center;
	position: relative;

	.layout-row {
		padding: 1em 0;
	}

	.go-back {
		position: absolute;
		left: 0.9375rem;
		color: $white;

		&:hover, &:active {
			color: darken($white, 10%);
		}
	}

	.logo-wrapper {
		padding: .3em .5em;
		font-size: .8em;
		border: 2px solid white;
		color: $white;

		&:hover, &:active {
			border-color: $purple;
			background: $purple;
		}

		@media #{$medium-up} {
			border: 3px solid $white;
			font-size: 1em;
			padding: .5em 1em;
		}
	}
}

// Abstract later
.embedded {
	padding: 0;

	.sign-up {
		padding-top: 1em;
		border-top: 1px solid $purple;	
	}
}

.articles-wrapper {

	.row + .row {
		padding-top: 0;
	}

	h2 {
		color: $purple;
		margin: 0;
	}

	.media-object-wrapper {
		margin-top: 1.5em;
	}
	
	.panel-link {
		display: block;
		opacity: .7;
	
		&:hover, &:active {
			opacity: 1;
		}
	}
	.panel {
		position: relative;
		overflow: hidden;
		min-height: 350px;

		@media #{$medium-up} {
			min-height: 250px;
		}
	}
	.text {
		position: absolute;
		z-index: 3;
		background: white;
		padding: 1em 1.5em;
		width: 100%;
		height: 100%;
		top: 155px;

		@media #{$medium-up} {
			top: 0;
			right: 0;
			width: 50%;
			height: 100%;
		}

		h4 {
			margin: 0;
			line-height: 1.3;
			padding-bottom: .5em;
			border-bottom: 1px solid $purple;
		}
		p {
			padding-top: .5em;
			margin: 0;
		}
	}
	.image-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: auto;
		overflow: hidden;
	
		@media #{$medium-up} {
			height: 100%;
			width: auto;
		}

		img {
			height: auto;
			width: 100%;

			@media #{$medium-up} {
				width: auto;
				height: 100%;
			}
		}
	}

	.sign-up {
		padding-top: 1em;
		border-top: 2px solid $purple;

		h5 {
			margin: 0;
			padding-bottom: .5em;
		}
	}
}